@font-face {
  font-family: Evogria;
  src: url("Evogria\ Italic.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  font-family: evogria;
  font-size: 35px;
}

#discord {
  display: flex;
  justify-content: left;
  padding: 10px;
  background-color: rgb(122, 120, 120);
}

#twitch {
  padding: 10px;
  display: flex;
  justify-content: first baseline;
  background-color: rgb(122, 120, 120);
}

.intro {
  padding: 15px 5px 5px 15px;
  margin: 10px;
}

h1 {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: cutive monospace;
}

.video-background {
  -o-filter: blur(1 5px);
  filter: blur(15px);
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: evogria;
  font-size: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
