@font-face {
  font-family: Evogria;
  src: url("Evogria\ Italic.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: evogria;
  font-size: 35px;
}

#discord {
  display: flex;
  justify-content: left;
  padding: 10px;
}

#twitch {
  padding: 10px;
  display: flex;
  justify-content: first baseline;
  background-color: rgb(122, 120, 120);
}

.intro {
  padding: 15px 5px 5px 15px;
  margin: 10px;
}

h1 {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: cutive monospace;
}
